.loading {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}

html {
  //background-image: url(../../../images/back.jpg);
  //background-size: cover;

  background: #324edf;
  background: -moz-linear-gradient(-45deg, #324edf 0%, #55acee 100%);
  background: -webkit-linear-gradient(-45deg, #324edf 0%, #55acee 100%);
  background: linear-gradient(135deg, #324edf 0%, #55acee 100%);

  //background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: transparent;
  height: 100%;
  overflow: auto;
}

.paymentSystemDiv {
  margin: 1%;
  padding: 2%;
  border-radius: 20px;
  border: solid;
  //width: 20px;
  background-color: white;
  display: inline-block;
}

.paymentSystemImg {
  width: 50px;
}

.peymentSystemImg {
  width: 100px;
}

//--exec node --inspect=0.0.0.0:9229
.customIconBtn {
  img {
    width: 24px;
    height: 24px;
  }
}

//
//.threeMainButtons{
//  width: 100%;
//  height: 40px;
//  margin:10px;
//  >span{
//    font-size: 24px;
//  }
//}

//.mainMenuButtons {
//  height: 36px !important;
//  padding: 0 !important;
//  > div {
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    > img {
//      height: 80%;
//    }
//  }
//}

//calc(20% + 500px)

#stripe.animate {
  left: -10%;
  transition-property: left;
  transition-duration: 1s;
}

#stripe.disanimate {
  left: -100%;
  transition-property: left;
  transition-duration: 1s;
}

//.onHoverBrick:hover{
//    left: -10%;
//    transition-property: left;
//    transition-duration: 1s;
//}

.imageClass {
  display: inline-block;
  //margin: 40px;
  width: 100px;
  height: 100px;
  //background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  border-radius: 50%;

  box-shadow: 0 3px 20px rgba(0, 0, 0, .25),
  inset 0 2px 0 rgba(255, 255, 255, .6),
  0 2px 0 rgba(0, 0, 0, .1),
  inset 0 0 20px rgba(0, 0, 0, .1);
}

.menu-item.active, .menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.left-bar-menu {
  transition-property: max-width;
  transition-duration: 1s;
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.threed:hover {
  box-shadow:
          1px 1px #53ea93,
          2px 2px #53ea93,
          3px 3px #53ea93,
          4px 4px #53ea93,
          5px 5px #53ea93,
          6px 6px #53ea93,
          7px 7px #53ea93;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}